doctype html
html
	head
		title=title
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
	body
		.wrap
	script(src="js/qoogle.js")
	script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

	div(class="container")
		div(class="row")
			div(class="col")
				p
				img(src="images/qoogle.png", width="35%", class="img-fluid d-block mx-auto", align="center")
				p
				form(action="")
					div(align="center")
						div(class="form-group")
							input(type="text", class="form-control", id="keyword")
							p
							input(type="button", align="center", class="btn btn-link" onclick="javascript:search('tracks');", value="Search tracks with Qoogle")
							input(type="button", align="center", class="btn btn-link" onclick="javascript:search('collections');", value="Search collections with Qoogle")
							p
							input(type="checkbox", id="vocab", align="center", class="btn btn-link", value="Enhance with synonyms")
							| &nbsp;Enhance with DataMuse

		div(class="row")
			div(class="col")
				div(id="resultsStats")
				p
				div(id="results")